{% extends '../base.html' %}

{% load static %}


{% block titulo %}
    Lista Departamento
{% endblock titulo %}
    


{% block content %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Lista departamento</h1>
        </div>
        <div class="cell">
            <table>
                <tbody>
                  
                        {% for departamento in departamentos %}
                            <tr>
                                <td>
                                    {{ departamento.name }}
                                </td>
                                <td>
                                    {{ departamento.short_name }}
                                </td>
                                <td>
                                    <a class="button success cell" href="{% url 'personal_all:listaEmpleadosArea' departamento.short_name %}">Ver Empleado</a>
                                </td>
                            </tr>
                        {% endfor %}
                       
                    
                </tbody>
            </table>
        </div>
    </div> 
{% endblock content %}
